@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.findPage {
    color: hsl(0, 100%, 50%);
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.pageInfo {
    color: hsl(0, 31%, 94%);
    font-size: 25px;
    padding-bottom:50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
    flex-direction: row;
    align-items: center;
    margin: 20px 100px 10px 100px;
    border: 2px solid hsl(0, 100%, 73%);
    box-shadow: 10px 5px 5px #000;
}

findMovieShow {
    flex-direction: column;
    padding: 50px 0px 30px 0px;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

.countryNames {
    color: hsl(0, 31%, 94%);
    padding: 10px;
}

.countryLabel {
    border-top: 2px solid hsl(0, 31%, 94%);
}

.countryList {
    font-family: 'Roboto', sans-serif;
}
