@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.findPage {
    color: hsl(0, 100%, 73%);
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.pageInfo {
    color: hsl(0, 100%, 50%);
    width: 50%;
    font-size: 20px;
    padding-bottom: 100px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
    flex-direction: row;
    align-items: center;
    margin: 50px 100px 10px 100px;
    border: 2px solid hsl(0, 31%, 94%);
}

label {
    flex-direction: column;
    padding: 50px 0px 0px 0px;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

.countryNames {
    color: white;
    padding: 10px;
}

.countryLabel {
    border-top: 2px solid hsl(0, 31%, 94%);
    width: auto;
}