@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.resultContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.movieContainer {
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 4%, 5%);
    border: 2px solid hsl(0, 100%, 73%);
    box-shadow: 10px 5px 5px #000;
    width: 650px;
    height: 800px;
    padding: 20px;
    margin: 20px;
}

p .available {
    width: 150px;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: hsl(0, 100%, 50%);
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

button {
    background-color: hsl(0, 100%, 73%);
    width: 150px;
    height: 30px;
    border-color: hsl(0, 100%, 50%);
    color: hsl(0, 31%, 94%);
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    color: lightgray;
    border-color: darkgray;
}

button:disabled:hover {
    cursor: not-allowed;
}

.title {
    padding-bottom: -50px;
}

.type {
    padding-bottom: 20px;
    font-size: 15px;
    color: hsl(0, 31%, 94%);
}

.image {
    height: 40%;
    width: auto;

}

.rating {
    padding-bottom: 20px;
    font-size: 15px;
    color: hsl(0, 31%, 94%);
}

.synopsis {
    font-size: 25px;
    color: hsl(0, 31%, 94%);
}

.available {
    color: hsl(0, 31%, 94%);
    padding-top: 20px;
    font-size: 15px;
}

