.searchBar {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBarInput {
    background-color: hsl(0, 31%, 94%);
    height: 30px;
    width: 500px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
}

.searchLabel {
    font-size: 28px;
}

.suggestionContainer {
    background-color: hsl(0, 0%, 85%);
    width: 500px;
}

.suggestions{
    color: hsl(0, 4%, 5%);
    cursor:pointer;
    border-right: 1px solid hsl(0, 4%, 5%);
    border-left: 1px solid hsl(0, 4%, 5%);
    border-bottom: 1px solid hsl(0, 4%, 5%);
}

.suggestions:hover {
    background-color: hsl(0, 0%, 65%);
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.searchBar :focus {
    background-color: hsl(0, 0%, 85%);
    outline-color: hsl(0, 100%, 73%);
    color: hsl(0, 100%, 0%);
}

.searchButton {
    height: 30px;
    width: 200px;
    font-size: 18px;
    margin: 12px 0px 50px 10px;
}